.btn-success:hover{
    background-color: rgb(173, 100, 241);
}
.btn-warning, .btn-danger, .btn-success{
    font-family: 'Quicksand', sans-serif;
}
canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 1px 1px 38px coral;}
    to{box-shadow: 1px 1px 38px brown;}
}
h3{
    font-family: 'Mochiy Pop P One', sans-serif;
}